.settings-button {
    padding: var(--spacing-xxs); /* Use spacing variables */
    background-color: var(--color-border); /* Primary button color */
    color: var(--color-text); /* Near-white text */
    border: none; /* Remove default border */
    border-radius: var(--border-radius-md); /* Rounded corners */
    cursor: pointer; /* Pointer cursor for interactivity */
    font-size: var(--font-size-sm); /* Smaller font size */
    /* font-weight: bold; Emphasize the button */
    transition: background-color 0.3s ease; /* Smooth hover transition */
    margin: var(--spacing-xxs);
    width: 95%;
    text-align: left;
  }
  
  .settings-button:hover {
    background-color: var(--color-primary); /* Change to border color on hover */
  }

