Flask
flask-cors
pymongo
langchain
langchain-chroma
langchain-community
langchain-ollama
pypdf
pymupdf
langchain_experimental
fastapi
pyjwt
flashrank
bcrypt
langchain-huggingface
einops
openai
transformers