/* sidepanel.css */
.side-panel {
  width: 200px;
  background: linear-gradient(145deg, #041526, #061e36, #092349); 
  color: #ffffff;
  padding: 20px 10px 20px 10px;
  position: fixed;
  height: 100vh;
  transition: left 0.3s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space out content */
  align-items: center;
}

.side-panel h2 {
  margin-top: 0;
}

/* Navigation Bar */
.side-panel-nav {
  display: flex;
  justify-content: space-around; /* Distribute items evenly */
  
  /* padding:  10px 10px 10px 10px;
 /* bottom: 10px;  Stick to the bottom of the panel */
 /* flex-shrink: 0;  Prevent shrinking */
 padding-bottom: 20px;
}

.nav-item {
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: color 0.3s ease;
  width: 100px;
  height: 50px; 
  border-radius:10px;
  display: flex; /* Enables Flexbox */
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
  font-weight: bold;

}

.nav-item:hover {
  color: #ffffff; /* Change to a lighter blue on hover */
  background-color: rgba(255, 255, 255, 0.079);
  font-weight: bold;
  
}

.nav-item.selected {
  color: #ffffff; /* Change to a lighter blue on hover */
  background-color: rgba(255, 255, 255, 0.079);
  font-weight: bold;
}

/* Upload Section */
.upload-section {
  padding: 10px;
}

.upload-button {
  background-color: #92afbb;
  color: #000000;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  top: 400px;
  bottom: 20px;
  font-weight: bold;
}

.upload-button:hover {
  background-color:   rgba(0, 90, 160, 0.8) ; /* Light blue on hover */
  color: #ffffff;
}

.search-bar {
  justify-content: center;
  align-items: center;
  width: 94%;
  padding: 10px;
  font-size: 16px;
  
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.079);
  color: #9e9ea0;
}

.document-list {
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 440px; 
  overflow-y: auto;  /* Add scrolling */
}

.document-item {
  padding: 10px;
  margin-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.079);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.document-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #92afbb; /* Lighter blue on hover */
}



input[type="file"] {
  display: none; /* Hide the default file input */
}


.settings-section {
  padding: 10px;
}

.settings-item {
  color: #ffffff;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  background-color: transparent; /* Default background is transparent */
  border-radius: 5px;
}

.settings-item:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Light background on hover */
}

/* Add some space between items */
.settings-nav {
  margin-top: 20px;
}



.file-upload-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  

}